<div id="kt_aside" class="aside bg-info aside-fixed" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_toggler">
    <!--begin::Secondary-->
    <div class="aside-secondary d-flex flex-row-fluid bg-white">
        <!--begin::Workspace-->
        <div class="aside-workspace my-7 ps-5 pe-4 ps-lg-10 pe-lg-6" id="kt_aside_wordspace">
            <!--begin::Logo-->
            <div class="aside-logo py-2 pb-7" id="kt_aside_logo">
               <h5>Trabalho Prático</h5>
            </div>
            <!--end::Logo-->
            <!--begin::Aside Menu-->
            <!--begin::Menu-->
            <div class="menu menu-column menu-rounded menu-title-gray-700 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500 fw-bold fs-6" data-kt-menu="true">
                <div class="hover-scroll-y pe-4 pe-lg-5" id="kt_aside_menu_scroll" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_aside_logo" data-kt-scroll-wrappers="#kt_aside_wordspace" data-kt-scroll-offset="10px" style="height: 798px;">
                    <div class="menu-wrapper menu-column menu-fit">
                        <div class="menu-item here show">
                            <h4 class="menu-content text-muted mb-0 fs-6 fw-bold text-uppercase">Dashboards</h4>
                            <div class="menu-sub menu-fit menu-sub-accordion show pb-10">
                                <div class="menu-item">
                                    <a class="menu-link py-2" href="/dashboard">
                                        <span class="menu-title">Simulações</span>
                                    </a>
                                </div>
                                <div class="menu-item">
                                    <a class="menu-link py-2" href="/users">
                                        <span class="menu-title">Utilizador</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Menu-->
        </div>
        <!--end::Workspace-->
    </div>
    <!--end::Secondary-->
</div>